Source: zfs-tools
Section: admin
Priority: extra
Maintainer: Manuel Amador (Rudd-O) <rudd-o@rudd-o.com>
Build-Depends: debhelper (>= 7), python3, python3-setuptools
Standards-Version: 4.5.1.0
Homepage: https://github.com/Rudd-O/zfs-tools

Package: zfs-tools
Architecture: all
Depends: python3-zfs-tools
Recommends: ${misc:Depends}, zfs-shell
Description: A collection of tools for ZFS

Package: zfs-shell
Architecture: all
Depends: ${misc:Depends}, zfs-tools, sudo
Description: A shell wrapping invokations of zfs and zpool with sudo

Package: python3-zfs-tools
Architecture: all
Depends: ${misc:Depends}, zfsutils-linux
Recommends: python3
Description: A collection python utilities for ZFS
